@import '../variables/breakpoints';
@import '../variables/colors';

@mixin app-container($theme) {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 100vh;
  position: relative;
  background-color: get-color($theme, 'background');
  color: get-color($theme, 'text');

  // .app-sub-container {
  //   display: flex;
  //   flex: 1;
  //   max-height: 100%;
  //   background-color: get-color($theme, 'background');
  //   color: get-color($theme, 'text');
  // }

  .app-content {
    display: flex;
    flex: 1;
    background-color: get-color($theme, 'background');
    color: get-color($theme, 'text');
    padding: 20px;
  }
}

.app-container {
  &-light {
    @include app-container('light');
  }
  &-dark {
    @include app-container('dark');
  }
}
